.slider {
  position: relative;
  margin-top: 60px;
  overflow: hidden;
  max-width: 1240px;

  &-line {
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    gap: 40px;
    transition: 0.5s;
  }
}

.arrow {
  cursor: pointer;
  &-left {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 3;
    left: -20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 50%;
  }

  &-rigth {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    z-index: 3;
    right: -20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: #EAEAEA;
    border-radius: 50%;
  }
}